

/*css for the photo animation. I;m hoping to cut this down*/

:focus{
outline:none;
}

.gallery{
    border: gray solid 2px;
margin:2px auto;
width:812px;
height:430px;
position:relative;
}


.gallery a{
display:inline-block;
width:200px;
height:141px;
position:relative;
border:5px solid #fff;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
}

.gallery a img{
display:block;
width:100%;
height:100%;
-webkit-transition-property:width, height, top, bottom, left, right, z-index;
-webkit-transition-duration:2s;
-moz-transition-property:width, height, top, bottom, left, right, z-index;
-moz-transition-duration:2s;
-o-transition-property:width, height, top, bottom, left, right, z-index;
-o-transition-duration:2s;
transition-property:width, height, top, bottom, left, right, z-index;
transition-duration:2s;
position:absolute;
z-index:1;
top:0px;
left:0px;
cursor:pointer;
-moz-user-select: none;
-khtml-user-select: none;
user-select: none;    
}


.closing{
position:absolute;
top:85px;
right:195px;
display:none;
text-align:center;
font-weight:bold;
font-size:70px;
color:#555;
width:20px;
height:20px;
-webkit-text-shadow:0px 0px 5px #fff;
-moz-text-shadow:0px 0px 5px #222;
text-shadow:0px 0px 5px #fff;
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
cursor:pointer;
z-index:30;
}

.closing-layer{
display:none;
position:absolute;
top:140px;
left:150px;
width:500px;
height:352px;
background:transparent;
z-index:30;
cursor:pointer;
}

.gallery a:focus~.closing, a:focus~.closed-layer{
display:block;
}


.gallery a:focus{
border:none;
}

.gallery a:focus img{
width:250%;
height:250%;
position:absolute;
box-shadow:0 0 15px 2px #000;
-moz-box-shadow:0 0 15px 2px #000;
-webkit-box-shadow:0 0 15px 2px #000;
-webkit-transition-property:width, height, top, bottom, left, right, z-index;
-webkit-transition-duration:2s;
-moz-transition-property:width, height, top, bottom, left, right, z-index;
-moz-transition-duration:2s;
-o-transition-property:width, height, top, bottom, left, right, z-index;
-o-transition-duration:2s;
transition-property:width, height, top, bottom, left, right, z-index;
transition-duration:2s;
cursor:default;
z-index:25;
}



.gallery a:focus:nth-child(4n+1) img{
left:150px;
}

.gallery a:focus:nth-child(4n+2) img{
left:-50px;
}

.gallery a:focus:nth-child(4n+3) img{
left:-250px;
}

.gallery a:focus:nth-child(4n+4) img{
left:-460px;
}

.gallery a:focus:nth-child(-n+4) img{
top:140px;
}

.gallery a:focus:nth-child(n+9) img{
top:-150px;
}

.gallery a:focus:nth-child(n+13) img{
top:-295px;
}