body {
	background-color: gray;
	font-family: Verdana;
	z-index: -1
}
header {
	background-color: blue;
}


nav {
	padding: 10px 10px 10px 10px;
	border: 2px solid black;
	background-color: white;
}

nav > li {
	list-style: disc;
}


h1 {
	text-align: center;		
}




footer {
	background-color: white;
	vertical-align: bottom;
	position:fixed;
   bottom:0;
   width:100%;
   height:20px;   /* Height of the footer */
   
}

form {
	float: left;
	border:2px groove black;
	width:29%;
}

.mainart {
	border:2px groove black;
	width:600px;
	padding: 10px 5px 10px 20px;
	float:left;
}

.gal { float:left;
	width:200px;

		}

.active {
	background-color: white;
	color: gray;
}

.tagline
{	text-align: center;
}