body {
	background-color: gray;
	font-family: Verdana;
	z-index: -1
}
header {
	background-color: blue;
}


nav {
	padding: 10px 10px 10px 10px;
	border: 2px solid black;
	background-color: white;
}

nav > li {
	list-style: disc;
}


h1 {
	text-align: center;		
}

footer {
	background-color: white;
}

.mainart {
	border:2px groove black;
	width:200px;
	padding: 10px 5px 10px 20px;
}

.image-gallery {
	background-color: white;
	border-color: 10px groove black;
	width: 32%;
	vertical-align:top;
	position: relative;
	float:right;
	display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.image-gallery {
	
}
.image-gallery img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%

}
.gal { float:left;
	width:200px;

		}

.active {
	background-color: white;
	color: gray;
}

.tagline
{	text-align: center;
}