body {
	background-color: gray;
	font-family: Verdana;
}
header {
	background-color: blue;
}


nav {
	padding: 10px 10px 10px 10px;
	border: 2px solid black;
	background-color: white;
}

nav > li {
	list-style: disc;
}


h1 {
	text-align: center;		
}

footer {
	background-color: white;
}

.image-gallery {
	border-color: solid red 2px;
	padding: 30px;
}

}
.gal { float:left;
	width:32%;

		}

.active {
	background-color: white;
	color: gray;
}

.tagline
{	text-align: center;
}